@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
    :root {
        --background: #FAFAFAFF;
        --foreground: #151515FF;
        --background-12_5: #FAFAFA1F;
        --foreground-12_5: #1515151F;
        
        --card: #FAFAFAFF;
        --card-foreground: #151515FF;
 
        --popover: #FAFAFAFF;
        --popover-foreground: #151515FF;
 
        --primary: #93009CFF;
        --primary-25: #93009c7F;
        --primary-foreground: #FAFAFAFF;
        --primary-foreground-12_5: #FAFAFA1F;

        --secondary: #6B0078FF;
        --secondary-25: #6B00787F;
        --secondary-foreground: #FAFAFAFF;
        --secondary-foreground-12_5: #FAFAFA1F;
 
        --muted: #F3F3F3FF;
        --muted-foreground: #787878FF;
 
        --accent: #B000B2FF;
        --accent-foreground: #FAFAFAFF;
 
        --destructive: #BF1029FF;
        --destructive-foreground: #FAFAFAFF;

        --success: #056517FF;
        --error: #FFD700FF;
        --warning: #BF1029FF;

        --border: #380356FF;
        --input: #93009CFF;
        --ring: #93009CFF;
 
        --radius: 0.6rem;
        --face-size: 100px;
        --dot-size: calc(var(--face-size) * 0.225);    
    }
 
    .dark {
        --background: #151515FF;
        --foreground: #FAFAFAFF;
        --background-12_5: #1515151F;
        --foreground-12_5: #FAFAFA1F;

        --card: #151515FF;
        --card-foreground: #FAFAFAFF;
 
        --popover: #151515FF;
        --popover-foreground: #FAFAFAFF;
 
        --primary: #B000B2FF;
        --primary-25: #B000B27F;
        --primary-foreground: #FAFAFAFF;
        --primary-foreground-12_5: #FAFAFA1F;
 
        --secondary: #93009CFF;
        --secondary-25: #93009C7F;
        --secondary-foreground: #FAFAFAFF;
        --secondary-foreground-12_5: #FAFAFA1F;
 
        --muted: #303030FF;
        --muted-foreground: #A8A8A8FF;
 
        --accent: #6B0078FF;
        --accent-foreground: #FAFAFAFF;
 
        --destructive: #DE1A24FF;
        --destructive-foreground: #FAFAFAFF;

        --success: #3F8F29FF;
        --error: #F5C542FF;
        --warning: #DE1A24FF;
 
        --border: #380356FF;
        --input: #B000B27F;
        --ring: #B000B27F;
    }
}
 
@layer base {
    * {
        @apply border-border;
    }
    ::selection{
        background: var(--foreground);
        color: var(--background);
    }
    body {
        @apply bg-background text-foreground;
    }
    a {
        @apply font-bold text-primary hover:text-foreground;
    }

    .wheel img {
        transition: transform 10s cubic-bezier(0.3, 1, 0.7, 1),
        10s filter cubic-bezier(0.1, 1, 0.8, 1),
        10s -webkit-filter cubic-bezier(0.1, 1, 0.8, 1);
        will-change: transform;
        border-radius: 50%;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    }
    
    .rotating {
        animation: spin 30s linear infinite;
    }
    
    #perspective {
        position: absolute;
    
        perspective: 2100px;
    }
    
    #die-1 {
        left: 25vw;
        top: 100px;
    }
    
    #die-2 {
        left: 50vw;
        top: 200px;
    
        animation-direction: reverse;
    }
    
    .die {
        position: relative;
    
        width: var(--face-size);
        height: var(--face-size);
    
        transform-style: preserve-3d;
    
        animation: diceSpin 5s linear infinite;
    }
    
    .die:hover {
        animation-play-state: paused;
    }
    
    .face {
        position: absolute;
    
        font-size: 40px;
    
        width: var(--face-size);
        height: var(--face-size);
    
        text-align: center;
        line-height: var(--face-size);
    
        border: 1px solid var(--primary);
    
        transform-style: preserve-3d;
    
        background-color: var(--background);
    }
    
    .face:hover {
        background-color: var(--primary-25);
    }
    
    .face-1 {
        transform: translateZ(calc(var(--face-size) / -2)) rotateY(180deg);
    }
    
    .face-1 > .dot {
        left: 50%;
        top: 50%;
    }
    
    .face-2 {
        transform: translateX(50%) rotateY(90deg);
    }
    
    .face-2 > .dot:nth-child(1) {
        left: 25%;
        top: 50%;
    }
    
    .face-2 > .dot:nth-child(1) {
        left: 25%;
        top: 50%;
    }
    
    .face-2 > .dot:nth-child(2) {
        left: 75%;
        top: 50%;
    }
    
    .face-3 {
        transform: translateX(-50%) rotateY(-90deg);
    }
    
    .face-3 > .dot:nth-child(1) {
        left: 25%;
        top: 25%;
    }
    
    .face-3 > .dot:nth-child(2) {
        left: 50%;
        top: 50%;
    }
    
    .face-3 > .dot:nth-child(3) {
        left: 75%;
        top: 75%;
    }
    
    .face-4 {
        transform: translateY(50%) rotateX(90deg);
    }
    
    .face-4 > .dot:nth-child(1) {
        left: 25%;
        top: 25%;
    }
    
    .face-4 > .dot:nth-child(2) {
        left: 75%;
        top: 25%;
    }
    
    .face-4 > .dot:nth-child(3) {
        left: 25%;
        top: 75%;
    }
    
    .face-4 > .dot:nth-child(4) {
        left: 75%;
        top: 75%;
    }
    
    .face-5 {
        transform: translateY(-50%) rotateX(-90deg);
    }
    
    .face-5 > .dot:nth-child(1) {
        left: 25%;
        top: 25%;
    }
    
    .face-5 > .dot:nth-child(2) {
        left: 75%;
        top: 25%;
    }
    
    .face-5 > .dot:nth-child(3) {
        left: 25%;
        top: 75%;
    }
    
    .face-5 > .dot:nth-child(4) {
        left: 75%;
        top: 75%;
    }
    
    .face-5 > .dot:nth-child(5) {
        left: 50%;
        top: 50%;
    }
    
    .face-6 {
        transform: translateZ(calc(var(--face-size) / 2));
    }
    
    .face-6 > .dot:nth-child(1) {
        left: 25%;
        top: 25%;
    }
    
    .face-6 > .dot:nth-child(2) {
        left: 75%;
        top: 25%;
    }
    
    .face-6 > .dot:nth-child(3) {
        left: 25%;
        top: 50%;
    }
    
    .face-6 > .dot:nth-child(4) {
        left: 75%;
        top: 50%;
    }
    
    .face-6 > .dot:nth-child(5) {
        left: 25%;
        top: 75%;
    }
    
    .face-6 > .dot:nth-child(6) {
        left: 75%;
        top: 75%;
    }
    
    .dot {
        position: absolute;
    
        width: var(--dot-size);
        height: var(--dot-size);
    
        border-radius: 50%;
    
        background-color: var(--foreground);
    
        transform: translate(-50%, -50%);
    }
    
    @keyframes diceSpin {
        from {
            transform: rotateX(0deg) rotateY(0deg);
        }
        to {
            transform: rotateX(360deg) rotateY(720deg);
        }
    }    
      
    @keyframes spin {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes pyramid {
        0% {
            transform: rotateX(-30deg) rotateY(0deg);
        }
        100% {
            transform: rotateX(-30deg) rotateY(360deg);
        }
    }
}